{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>
  select:invalid{
    color: rgba(46, 42, 57, .75);
  }
  .error{
    border: 1px solid red !important;
  }
  [data-show-live="false"]{
    display: none !important;
  }
  .customer div.field {
  margin:0
  }
  .containerField {
    margin-top: 2rem;
  }
  .d-flex{
    display: flex;
  }
  .margin-0{
    margin: 0 !important;
  }
  .justify-content-spacebetween{
    justify-content: space-between;
  }
  .align-items-center{
    align-items: center;
  }
  .mt-2{
    margin-top: 1em !important;
  }
</style>
{% assign password = shop.metafields.global.password | strip | sha1 %}
<div class="customer register">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <h1>
    {{ 'customer.register.title' | t }}
  </h1>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul> 
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-first-required   class="required">*Required</span>
      </div>
      <div class="field">      
        <input
        type="text"
        data-register="first"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
        >
        <label for="RegisterForm-FirstName">
          {{ 'customer.register.first_name' | t }}
        </label>
      </div>
    </div>
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-last-required   class="required">*Required</span>
      </div>
      <div class="field">
        <input
        type="text"
        data-register="last"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
        >
        <label for="RegisterForm-LastName">
          {{ 'customer.register.last_name' | t }}
        </label>
      </div>
    </div>
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-tag-required   class="required">*Required</span>
      </div>
      <div class="field">
        <input type="hidden" id="referredBy" name="customer[tags]" >
        
        {%- comment -%}
        NOTE!  Instructions to input a new practitioner! This next section of the code is the only thing that needs updating. copy next line.
        <option> Dr. Testing  </option>
        paste it in the line after the line that says "paste after this line"
        Change "Dr. Testing to the new practitioner name
        press save in the top right portion of the page and then go check the registration page to make sure that it worked correctly.
        {%- endcomment -%}
        
        
        <select name="customer[tags]" data-register="tag" required>
          <option value="" selected disabled hidden>Referred By</option>
          <option>LaKrista</option>
          <option>Amber</option>          
        </select>
        <label class="hidden" for="referredBy">Referred by</label>
      </div>
    </div>
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-store_password-required   class="required">*Required</span>
      </div>
      <div class="field">
        <input data-register="store_password"  type="text" name="store-password" id="Store-Password" placeholder="store password">  
        <label for="Store-Password">Store Password</label>
      </div>
    </div>
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-email-required   class="required">*Required</span>
      </div>
      <div class="field">      
        <input
        type="email"
        name="customer[email]"
        data-register="email"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
        >
        <label for="RegisterForm-email">
          {{ 'customer.register.email' | t }}
        </label>
      </div>
      </div>
      {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="containerField">
      <div class="d-flex justify-content-spacebetween align-items-center">
        <span data-show-live="false"  data-password-required   class="required">*Required</span>
      </div>
      <div class="field">     
        <input
        type="password"
        data-register="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
        >
        <label for="RegisterForm-password">
          {{ 'customer.register.password' | t }}
        </label>
      </div>
    </div>
<!-- <div>
  <a  class="mt-2" href="https://drjabanmoore.com/shop" target="_blank" id="RecoverPassword">Forgot Store Password?</a>
</div> -->
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <button>
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>
<script>

  const registerForm = document.getElementById("create_customer");
  const storePasswordCheck = (e) => {
    e.preventDefault();
    const formElems = document.querySelectorAll("[data-register]");
    let count = 0;
    formElems.forEach(element => {
      const elementValue = element.value.trim() ;
      const required = document.querySelector(`[data-${element.dataset.register}-required]`);
      if (!elementValue) {
        count++;
        addError(element, required)
      } 
      else{
        removeError(element, required)
      }
      if (element.name === "store-password") {
        const submittedPassword = element.value;
        const hashedPassword = utils.hash.SHA1(submittedPassword);
        if (hashedPassword !== "{{password}}"){
          count++
          addError(element, required);
        } 
        else{
          removeError(element, required);
        }
      }
    });
    if (count === 0) {
      console.log("should register")
      registerForm.setAttribute("action", "/account");
      registerForm.submit();
    }
  }
  const addError = (input, requiredElem) => {
    input.classList.add("error");
        requiredElem.dataset.showLive = true;
  }
  const removeError = (input, requiredElem) => {
    input.classList.remove("error");
        requiredElem.dataset.showLive = false;
  }
  registerForm.removeAttribute("action");
  registerForm.addEventListener("submit", storePasswordCheck, false);
</script>
